langchain_mcp_adapters
langchain_community
langchain_openai
langgraph
typing
langchain_core
matplotlib
dotenv
pydantic
fastapi
starlette
asyncio
async_timeout
pathlib
# psycopg2
scipy
pandas
mcp
uv
openai
numpy
uuid
langchain
